/*******************************************
GENERAL PAGE SETTINGS
********************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-family: 'Montserrat', sans-serif;
    font-family: 'PT Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    color: white;
}
/*******************************************
 HEAD CONTAINER STYLE SETTINGS
********************************************/
#wrapper {
    height: calc(100vh - 100px);
    display: flex;
}

/*******************************************
NAVBAR SETTINGS
********************************************/
nav{
    width: 250px;
    height: calc(100vh - 100px);
    background-color:#000000;
    position: relative;
}
nav .logo{
    padding: 1rem 5rem 1rem 1.2rem;
}
/* playlist container rules */
.playlist-container{
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
}
.selected-playlist {
    max-height: 35vh;
    overflow-y: auto;
}
.selected-playlist ul li{
    display: flex;
    align-items: center;
    margin: 1rem 0;
    cursor: pointer;
}
.selected-playlist a{
    text-decoration: none;
}
.selected-playlist h5{
    color: gray;
}
.selected-playlist h5:hover {
    color: white;
}
.playlist-btn i {
    color: rgb(202, 202, 202);
    font-size: 2rem;
    display: block;
    margin-right: 10px;
}
/* account link rules */
.account-container{
    width: 90%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
}
.app-download{
    margin-left: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid grey;
}
.app-download i,
.app-download a{
    color: gray;
}
.app-download a {
    text-decoration: none;
}
.app-download a:hover{
    color: white;
}
.app-download i {
    margin-right: 10px;
}
.account-img{
    height: 100%;
    width: 30%;
    background-color: lightgray;
    border-radius: 50%;
}
.account-img img.fill{
    object-fit: cover;
}
.account-info{
    display: flex;
    align-content: center;
}

/* active status */
.navbar-active ul li a{
    text-decoration: none;
} 
.navbar-active ul li {
    display: flex;
    margin: 0.5rem 0;
}

.navbar-active li a{
    color: gray;
    margin: 0 10px;
}
.navbar-active li a i{
    margin: 0 1rem;
}
.navbar-active ul li a:hover{
    color: white;
}
.navbar-active li.active a,
.navbar-active li.active i{
    color: white;
}
.navbar-active li .active-status{
    width: 2px;
    background-color:#adff2f;
}
/* HEAD CONTAINER */
#main-content {
    flex-grow: 1;
    background-color:#141922;
}

/* CONTROLLER SETTINGS */
#controller{
    height: 100px;
    background-color:#282828;
    z-index: 2;
}
/* TOP FIXED LAYHOVER */
#layhover{
    width: 100%;
    height: 100px;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: 500;
}
#btn {
    height: fit-content;
    padding:0.5rem 2rem;
    border: 1px solid white;
    border-radius: 2rem;
    display: flex;
    align-items: center;
}
#btn a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
